{% extends "layouts/base.html" %}
{% load utils %}
{% block title %}Debian Images Team - Test Organiser{% endblock %}
{% block content %}
<h1><a href="/">Debian Images Team - Test Organiser</a></h1>
<h2>{{user.username }} - please describe how this test failed or why it had to be abandoned:</h2>
<dl class="row">
<dt class="col-sm-3">Test number</dt>
<dd class="col-sm-9">{{ test.number }}</dd>
<dt class="col-sm-3">Image</dt>
<dd class="col-sm-9">{{ test.image }}</dd>
<dt class="col-sm-3">Install Mode</dt>
<dd class="col-sm-9">{{ test.mode|print_install_mode }}</dd>
<dt class="col-sm-3">Filesystem</dt>
<dd class="col-sm-9">{{ test.filesystem }}</dd>
<dt class="col-sm-3">Network</dt>
<dd class="col-sm-9">{{ test.network|print_network }}</dd>
<dt class="col-sm-3">Language</dt>
<dd class="col-sm-9">{{ test.language }}</dd>
<dt class="col-sm-3">Profile</dt>
<dd class="col-sm-9">{{ test.profile }}</dd>
</dl>

<form method="POST" class="post-form">
    {% csrf_token %}
    {% for hidden_field in form.hidden_fields %}
        {{ hidden_field.errors }}
        {{ hidden_field }}
    {% endfor %}
    <div class="form-group">
    {% for field in form.visible_fields %}
       <span class="form-text text-muted">{{ field.name|upper }}</span>
       <span class="form-text">
       {{ field.help_text }}</span> {{ field }}
    {% endfor %}
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>
<hr/>
{% endblock %}
