{% extends "layouts/base.html" %}
{% load i18n %}
{% load tz %}
{% load utils %}
{% block title %}Debian Images Team - Test Organiser{% endblock %}
{% block content %}
<h1>Debian Images Team - Test Organiser</h1>
{% if user.is_authenticated %}
  <p>{% now "SHORT_DATETIME_FORMAT" %}</p>
  <p>User: {{ user|user_name }}</p>
  {% if user|user_is_active %}
  <p><a role="button" class="btn btn-warning"
  href="{% url 'logout' %}">Logout</a>
    {% if user.is_superuser %}
        <a role="button" class="btn btn-danger"
        href="/admin/">Administrator View</a>
        <div class="alert alert-success">Using {{ version }}</div>
    {% endif %}
    </p>
    {% if myclaims %}
    <h2>Your outstanding test claim{{ myclaims|pluralize }}</h2>
      <table class="table table-bordered table-hover">
          <thead class="table-info"><tr><th/><th scope="col">Install mode</th><th
          scope="col">Image</th><th scope="col">Desktop</th><th scope="col">Filesystem</th><th
          scope="col">Machine</th></tr></thead><tbody>
          {% for item in myclaims %}
            <tr><td><a
            role="button" class="btn btn-primary"
            href="update/{{ item.id }}">Update this test</a></td>
            <td>{{ item.mode|print_install_mode }}</td>
            <td>{{ item.image }}</td>
            <td>{{ item.desktop }}</td>
            <td>{{ item.filesystem }}</td>
            <td>{{ item.profile }}</td></tr>
          {% endfor %}
      </table>
    {% endif %}
      {% if vm_profiles %}
      <h2>Your virtual machine profile{{ vm_profiles|pluralize }}</h2>
      <table class="table table-bordered table-hover">
          <thead class="table-info"><tr><th/><th scope="col">Name</th><th
          scope="col">Command</th><th scope="col">Architecture</th>
          <th scope="col">Boot method</th><th scope="col">Ethernet</th>
          <th scope="col">WiFi</th>
          </tr></thead><tbody>
          {% for prof in vm_profiles %}
            <tr><td><a
            role="button" class="btn btn-primary"
            href="claim/{{ prof.id }}">Claim a test</a>&nbsp;<a
                role="button" class="btn btn-warning"
                href="amend/{{ prof.id }}">Update this profile</a></td>
            <td>{{ prof.name }}</td>
            <td>{{ prof.command_line }}</td>
            <td>{{ prof.architecture }}</td>
            <td>{{ prof.boot_method|print_boot }}</td>
            <td>{{ prof.ethernet }}</td>
            <td>{{ prof.wifi }}</td>
            </tr>
          {% endfor %}
          <tr><td colspan="7"><a
            role="button" class="btn btn-info"
            href="{% url 'createvirtual' %}">Create a profile for
            a new virtual machine.</a>
          </td></tr></tbody></table>
      {% else %}
      <p><a role="button" class="btn btn-info"
      href="{% url 'createvirtual' %}">Create a profile for
      a new virtual machine.</a></p>
      {% endif %}
      {% if bare_profiles %}
      <h2>Your bare metal machine profile{{ bare_profiles|pluralize}}</h2>
      <table class="table table-bordered table-hover">
          <thead class="table-info"><tr><th/><th scope="col">Name</th><th
          scope="col">Manufacturer</th><th scope="col">Architecture</th>
          <th scope="col">Boot method</th><th scope="col">Ethernet</th>
          <th scope="col">WiFi</th>
          </tr></thead><tbody>
          {% for prof in bare_profiles %}
            <tr><td><a
                role="button" class="btn btn-primary"
                href="claim/{{ prof.id }}">Claim a test</a>&nbsp;<a
                role="button" class="btn btn-warning"
                href="amend/{{ prof.id }}">Update this profile</a></td>
                <td>{{ prof.name }}</td>
                <td>{{ prof.manufacturer }}</td>
                <td>{{ prof.architecture }}</td>
                <td>{{ prof.boot_method|print_boot }}</td>
                <td>{{ prof.ethernet }}</td>
                <td>{{ prof.wifi }}</td>
                </tr>
          {% endfor %}
          <tr><td colspan="7"><a
            role="button" class="btn btn-info"
            href="{% url 'createbaremetal' %}">Create a profile for
            a new bare metal machine.</a>
          </td></tr></tbody></table>
      {% else %}
          <p><a role="button" class="btn btn-info"
          href="{% url 'createbaremetal' %}">Create a profile for
          a new bare metal machine.</a></p>
      {% endif %}
      {# can't claim a test if no profiles exist #}
  {% else %}
      Sorry, user <b>{{ user.username }}</b> currently
      has a status set to: <b>{{ user|user_status }}</b>.
      Please contact an admin.
  {% endif %}
{% else %}
  <p>You are not logged in</p>
  <a role="button" class="btn btn-primary"
  href="{% url 'login' %}">Login</a>
  <a role="button" class="btn btn-info"
  href="{% url 'createaccount' %}">Create new account</a>
{% endif %}
    {% if completed %}
    <h2>Completed test{{ completed|pluralize }}</h2>
      <table class="table table-bordered table-hover">
          <thead class="table-info"><tr><th
          scope="col">Tester</th><th scope="col">Updated</th><th
          scope="col">Number</th><th
          scope="col">Machine</th><th
          scope="col">Result</th></tr></thead><tbody>
          {% for item in completed %}
            <tr>
            <td>{{ item.claimer }}</td>
            <td>{{ item.updated }}</td>
            <td><a href="testlog/{{ item.pk }}">{{ item.number }}</a></td>
            <td>{{ item.profile }}</td>
            {% if item.result == item.RESULT_PASS %}
            <td><span class="badge badge-pill badge-success">{{ item.result|print_result }}</span></td></tr>
            {% else %}
            <td><span class="badge badge-pill
            badge-warning">{{ item.result|print_result }}</span><br/>
            <a href="/viewerrata/{{ item.errata.pk }}">{{ item.errata.content|slice:"64" }}</a></td></tr>
            {% endif %}
          {% endfor %}
      </table>
    {% endif %}
    {% if claims %}
    <h2>Currently claimed test{{ claims|pluralize }}</h2>
      <table class="table table-bordered table-hover">
          <thead class="table-info"><tr><th scope="col">Tester</th><th scope="col">Install</th><th
          scope="col">Boot</th><th scope="col">Image</th><th scope="col">Desktop</th><th scope="col">Filesystem</th><th
          scope="col">Machine</th><th scope="col">Result</th></tr></thead><tbody>
          {% for item in claims %}
            <tr>
            <td>{{ item.claimer }}</td>
            <td>{{ item.mode|print_install_mode }}</td>
            <td>{{ item.profile.boot_method|print_boot }}</td>
            <td>{{ item.image }}</td>
            <td>{{ item.desktop }}</td>
            <td>{{ item.filesystem }}</td>
            <td>{{ item.profile }}</td>
            {% if item.result == item.RESULT_PASS %}
            <td><span class="badge badge-pill badge-success">{{ item.result|print_result }}</span></td></tr>
            {% else %}
            <td><span class="badge badge-pill
            badge-warning">{{ item.result|print_result }}</span><br/>
            <a href="/viewerrata/{{ item.errata.pk }}">{{ item.errata.content|slice:"64" }}</a></td></tr>
            {% endif %}
            {# FIXME: this needs to allow an abandoned test to be claimed by someone else. #}
            </tr>
          {% endfor %}
      </table>
    {% endif %}
{% endblock %}
