{% extends "layouts/base.html" %}

{% block title %}Password reset{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <h2>Password reset successful</h2>
    <p>We've emailed you instructions for setting
    your password to the email address you submitted. You should be receiving it shortly.</p>
  </div>
</div>
{% endblock %}
